[submodule "moisture-backend"]
	path = moisture-backend
	url = https://github.com/wikibootup/moisture-backend
[submodule "moisture-frontend"]
	path = moisture-frontend
	url = https://github.com/wikibootup/moisture-frontend
